<h2>Hola Mundooo, vamos avanzando aunque es un dolor de cabeza, miprueba01</h2>
<p>
  La hora actual es: <%= Time.now %>
</p>
<<<<<<< HEAD
<p>Ser치 el sereno pero no me ganar치. Va para Heroku y GitHub</p>
=======
<p>Ser치 el sereno pero no me ganar치</p>

