<h2>Hola Mundooo, vamos avanzando aunque es un dolor de cabeza, miprueba01</h2>
<p>
  La hora actual es: <%= Time.now %>
</p>
<p>Será el sereno pero no me ganará. Va para Heroku y GitHub</p>
<p>Super complicado</p>
<p>Pero con paciencia y tezón voy para adelante, más lento que una tortuga coja...</p>
<p>Ya está resuelto lo del logeo cada vez que se hace pushhhhhh...</p>
<p>Pero parece que Git Gui no funciona con el almacenamiento de logeos</p>
<p>Y así, el enano sigue creciendo</p>
<<p>Cambio doce</p>